<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Digi21.DigiNG.Io.Bin.x64" version="17.0.0" targetFramework="net46" />
  <package id="Digi21.DigiNG.Plugin.x64" version="17.0.0" targetFramework="net46" />
  <package id="Digi21.DigiNG.x64" version="17.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Digi21.Utilities.x64" version="17.0.1" targetFramework="net46" developmentDependency="true" />
</packages>